* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;
}

header{
  background-color: rgb(49, 97, 224);
  height: 90px;
  width: 100%;
}

.conteiner-header {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 60%;
}


/*header*/

.logo-img, .elenco, .bottom{
  background-color: rgb(49, 97, 224)
  border: 2px dashed black;
  margin-top: 15px;
  width: 55%;
}

.logo-img {
  display: flex;
  text-align: left;
  align-items: center; 
  width: 10%;
  height: 45px;

}

.elenco ul {
  list-style: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;
}

.elenco li a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none; 
}

.bottom {
  border: none;
  display: flex;
  align-items: center;
  text-align: right;
  height: 40px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
}

.bottom .piccolo, .bianco {
  background-color: white;
  width: 90px;
  height: 40px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottone-grande-bianco {
  background-color: white;
  color: black;
  width: 300px;
  height: 60px;
  font-size: 1.5rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 3% 10% 0;
  border: none;
  display: inline;
}

.bottone-grandissimo-nero {
  background-color: rgb(35, 39, 42);
  color: white;
  width: 360px;
  height: 60px;
  font-size: 1.5rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  display: inline;
}

.bottone-grande-blu {
  background-color: rgb(142, 161, 225);
  color: white;
  width: 300px;
  height: 60px;
  font-size: 1.5rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 3% 40% 10%;
  border: none;
}

/*/header*/


.conteiner {
  width: 1600px;
  display: flex;
  margin: 0 auto;
}

.conteiner-special {
  width: 1600px;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.contenitore-star {
  margin: 0 auto;
}

.conteiner-footer {
  height: 88px;
  width: 1600px;
  display: flex;
  margin: 3px auto;
}

/*jumbotron*/

.jumbotron {
  background-color: rgb(49, 97, 224);
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
  padding: 60px;
}

.box {
  background-color:  rgb(49, 97, 224, 0);
  color: white;

  height: 80%;
  margin: 0 auto;
  text-align: center;
}

.h1-jumbotron {
  padding-top: 60px;
  font-size: 5rem;
  margin-top: 100px;
}

h1 {
  padding-top: 220px;
  font-size: 5rem;
  margin-top: 20px;
}

h3 {

  font-size: 3rem;
  margin-top: 20px;
  text-align: center;
}

p {
  padding-top: 20px;
  font-size: 38px;
  padding-bottom: 130px;
}


.grigio {
  background-color: rgb(211, 211, 211);
}

.grigio-special {
  background-color: rgb(211, 211, 211);
}

.grigio-scuro {
  background-color: rgb(35, 39, 42);
  border-bottom: 2px solid white;
}

.grigio-scuro-finale {
  background-color: rgb(40, 41, 41);
}

/*blocco sfondo*/

.immagine {
  width: 60%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.immagine-finale {
  width: 60%;
  margin: -40px auto;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.testo {
  color: black;
  font-size: 3rem;
  width: 40%;
  height: 80%;
  margin: 0 auto;
}

.box-special {
  width: 100%;
  margin: 15px auto;
}

.contenitore-star .star {
  height: 80px;
  margin-left: 23%;
  margin-top: 60px;
}

/*FOOTER*/

.pink {
  color: rgb(142, 161, 225);
  margin: 10px auto;
  width: 40%;
  font-size: 3.5rem;
}

.img-ita {
  width: 35px;
  height: 20px;
}

footer span, #logo{
  color: white;
  font-size: 22px;
}
.elenco-footer {
  margin: 90px auto;
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.elenco-footer, li, a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none; 
  list-style: none;
  padding: 5px;
}

.elenco-footer li .primo {
  color: rgb(142, 161, 225);
}


.ultimo {
  background-color: rgb(127, 255, 212);
  margin: 10px auto;
  width: 25%;
  height: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}



.logo-img-ultimo{
  background-color: rgb(240, 128, 128);
  border: 2px dashed black;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 6%;
  height: 25px;
  margin-top: 10px;
}

.bottone-ultimo{
  background-color: rgb(234, 161, 237);
  border: 2px dashed black;
  display: flex;
  align-items: center;
  text-align: right;
  width: 6%;
  height: 25px;
  justify-content: flex-end;
}
